# LLM_PROVIDER=hf | lmstudio | openai
LLM_PROVIDER=hf
HF_MODEL_NAME=Qwen/Qwen3-1.7B
HF_TOKEN=

LM_MODEL_NAME = "qwen/qwen3-1.7b"
LM_STUDIO_URL = "http://localhost:1234/api/v1/chat"
LMSTUDIO_TEMPERATURE=0

OPENAI_API_KEY =
OPENAI_MODEL_NAME =

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL="https://cloud.langfuse.com"

SERP_API_KEY=
