LLM_PROVIDER=hf
HF_MODEL_NAME=TinyLlama/TinyLlama-1.1B-Chat-v1.0
# pake hf token dri huggingfacenya chat
HF_TOKEN=

OPENAI_API_KEY =
OPENAI_MODEL_NAME =

LANGFUSE_SECRET_KEY="sk-lf-74c99f1c-189b-4dda-94d0-306e87c42fff"
LANGFUSE_PUBLIC_KEY="pk-lf-867880c5-cdd3-4db2-91a5-e4fc8f2055ab"
LANGFUSE_BASE_URL="https://cloud.langfuse.com"
