LLM_PROVIDER=hf
HF_MODEL_NAME=TinyLlama/TinyLlama-1.1B-Chat-v1.0
# pake hf token dri huggingfacenya chat
HF_TOKEN=

OPENAI_API_KEY =
OPENAI_MODEL_NAME =

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL="https://cloud.langfuse.com"
